.main1{
    width: 50%;
    background-color: red;
    text-align:center;
    height: auto;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.abc{
    width: 90%;
}

#sumit{
    width: 50px;
}